@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

body {
  background-image: url("../images/adminbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.title {
  margin-left: 25px;
  font-family: "Inter", sans-serif;
}

.title span {
  color: #ec2baa;
}

.div-adminDisplay {
    border: 1px solid #000000;
    height: 500px;
}

.create-btn {
  color: #7878AB;
  border-radius: 10px;
  background-color: #E7FBF6;
  border: #E7FBF6;
  margin-top: 1rem;
}
.restore-btn {
  color: #7878AB;
  border-radius: 10px;
  background-color: #E7FBF6;
  border: #E7FBF6;
  margin-top: 1rem;
}
.backup-btn {
  color: #7878AB;
  border-radius: 10px;
  background-color: #E7FBF6;
  border: #E7FBF6;
  margin-top: 1rem;
}


.create-btn:hover {
  color: #F5F5FA;
  border-radius: 10px;
  background-color: #7878AB;
}
.restore-btn:hover {
  color: #F5F5FA;
  border-radius: 10px;
  background-color: #7878AB;
}
.backup-btn:hover {
  color: #F5F5FA;
  border-radius: 10px;
  background-color: #7878AB;
}

.manageuser-inner-div {
  height: 500px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-top: 20px;
}

.manageuser-div {
  margin-top: 35px;
}