@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}

.fourOhFour-container {
	height:90vh;
	display: flex;
	align-items: center;
	justify-content:center;
	margin: auto;
	max-width: 100%;
}

.column-left{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-start;
	color: black;
	padding: 0rem 1em;
}

.column-left h1 {
	font-size: 110px;
}

.column-left h3 {
	font-size: 30px;
}

.column-left p {
	margin-bottom: 0.5rem;
	font-size: 16px;
}

.errorimg {
	padding-left: 10em;
	width: 900px;
	height: auto;
}

.btnErrorPg {
	color: #F8F8F8;
    border-radius: 1rem;
    background-color: #BA91EF;
	font-size:12px;
	box-shadow:3px 5px 8px #c7c3c3;
	width: 150px;
	height: 32px;
}

.btnErrorPg:hover {
	background:#EC66F6;
	color: black;
}











