/* Colors are temporary to see what areas we are workign with*/
.leftContent {
  /* background-color: lightgray; */
}
.rightContent {
  /* background-color: aliceblue; */
}
.pd {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #616060;
}

/* .hb2 {
  width: 447px;
  height: 86px;
  left: 0px;
  top: 107px;
} */

.hb2-practitioner{
    height: 3.0rem;
    width: 30rem;
    opacity:70%;
}

.hb-bar-practitioner1 {
	margin-left: -100px;
	height: 3.0rem;
    width: 33rem;
	max-width: 110%;
    opacity:70%;
}

.hb-bar-practitioner2 {
	margin-left: -85px;
	height: 3.0rem;
    width: 33rem;
    opacity:70%;
	max-width: 100%;
	transform:scaleX(-1);
}

/* Css for check in button if needed*/
/* .checkInBtn  {
	color: #000000;
	border-radius: 1rem;
	background-color: #ffffff;
	font-size: 12px;
	box-shadow: 3px 5px 8px #c7c3c3;
	width: 80px;
	height: 32px;
	text-align: center;
	text-decoration: none;
	line-height: 10px;
	border-color: #71E7CA;
	font-size: 14px;
  }

  .checkInBtn:hover {
	background: #66f6d7;
	color: black;
  } */





