/* Colors are temporary to see what areas we are workign with*/
.leftContent {
  /* background-color: lightgray; */
}
.rightContent {
  /* background-color: aliceblue; */
}
.pd {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #616060;
}


/* Css for top bar on PractitionerPatientInfo */
.hb-bar-practitioner1 {
	margin-left: -119px;
	height: 3.0rem;
    width: 33rem;
	max-width: 110%;
    opacity:70%;
}

/* Css for bottom bar on PractitionerPatientInfo */
.hb-bar-practitioner2 {
	margin-left: -90px;
	height: 3.0rem;
    width: 33rem;
    opacity:70%;
	max-width: 100%;
	transform:scaleX(-1);
}

/* Css for select button on PractitionerWaitlist */
.detailBtn {
	color: #000000;
	border-radius: 1rem;
	background-color: #FFFFFF;
	border-color: #71E7CA;
	opacity: 60%;
	width: 70px;
  }

.detailBtn:hover {
	color: #F5F5FA;
	border-radius: 1rem;
	background-color: #71E7CA;
	border-color: #71E7CA;
	opacity: 60%;
  }
  
.detailBtn:focus {
	color: #000000;
	background-color: #71E7CA;
	border-color: #71E7CA;
	opacity: 60%;
  }

/*Css for checkIn button on PractitionerPatientInfo. */
.checkInBtn {
	color: #000000;
	border-radius: 1rem;
	background-color: #FFFFFF;
	border-color: #71E7CA;
	opacity: 60%;
	width: 89px;
  }
  
.checkInBtn:hover {
	color: #F5F5FA;
	border-radius: 1rem;
	background-color: #71E7CA;
	border-color: #71E7CA;
	opacity: 60%;
  }
  
.checkInBtn:focus {
	color: #000000;
	background-color: #71E7CA;
	border-color: #71E7CA;
	opacity: 60%;
  }

/*Css h3 tag that displays patient name in PractitionerPatientInfo*/
.practitioner-patientRequestDetails h3 {
		position: relative;
		top: 30px;
  }




