.heartbeat-logo-1 {
    z-index: -1;
    opacity: 60%;
}

.user-profile-photo {
    /* position: absolute;
    left: 550px;
    top: 150px; */
    z-index: 1;
    width: 375px;
    height: 375px;
    border-radius: 300px;
    float:inline-flex;
}

.container-display {
    height:500px;
    border: 5px solid #ec2baa;
}


.container-visits {
    height:300px;
    border: 5px solid #ec2baa;
}
