@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

.heartbeat-logo-1 {
  z-index: -1;
  opacity: 60%;
}

.user-profile-photo {
  position: relative;
  left: 350px;
  top: -330px;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 300px;
}

.container-display {
  height: 500px;
}

.container-visits {
  height: 300px;
  overflow-y: scroll;
}

.table-fixed tbody {
  /* height: 300px; */
  overflow-y: scroll;
  width: 100%;
}

.greetings {
  position: relative;
  left: 690px;
  top: -560px;
  z-index: 1;
  margin-left: 25px;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 50px;
}

.newRequest-btn {
  color: #7878ab;
  width: 200px;
  border-radius: 1rem;
  background-color: #f5f5fa;
  border-color: #f5f5fa;
}

.newRequest-btn:hover {
  color: #f5f5fa;
  border-radius: 1rem;
  background-color: #7878ab;
  border-color: #7878ab;
}

.cancelRequest-btn {
  color: #e25c5c;
  width: 200px;
  border-radius: 1rem;
  border-color: #f5f5fa;
}

.cancelRequest-btn:hover {
  color: #f5f5fa;
  border-radius: 1rem;
  background-color: #e25c5c;
  border-color: #e25c5c;
}

.request-btn-div {
  text-align: right;
  justify-content: right;
  margin-right: 35px;
  margin-bottom: 20px;
}

.spinner-div {
  width: 50%;
  margin: auto;
}

.cancel-lnk {
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  color: #bcbcff;
  text-decoration: underline;
}

.cancel-lnk:hover {
  font-size: small;
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}
