@import url("https://fonts.googleapis.com/css2?family=Inter");

.logo {
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
}

.logoTitle {
  margin-top: -68px;
  margin-left: 140px;
}

.columnSpace {
  margin-top: 80px;
}

.header {
  background-color: rgb(243, 243, 243);
  padding-bottom: 50px;
}

.signup {
  color: black;
  background-color: rgba(113, 231, 202, 0.44);
  border: none;
}

.signup:hover {
  color: black;
  background-color: rgba(113, 231, 202, 0.863);
}

.landingImage {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  width: 1400px;
  opacity: 0.8;
  z-index: 0;
}

.titleBox {
  position: absolute;
  top: 300px;
  left: 200px;
  font-family: "Inter", sans-serif;
  width: 900px;
  z-index: 1;
}
