.loginBox {
  width: 400px;
  height: 500px;
  margin: auto;
  background-color: #394b63;
  text-align: center;
  border-radius: 25px;
  color: white;
  box-shadow: 10px 5px 5px rgb(83, 83, 83);
  text-shadow: 2px 2px rgb(3, 3, 3);
}

.header {
  padding-top: 50px;
}
