.loginBox {
  width: 400px;
  height: 500px;
  margin: auto;
  background-color: #394b63;
  border-radius: 25px;
  color: white;
  box-shadow: 10px 5px 5px rgb(83, 83, 83);
  text-shadow: 2px 2px rgb(3, 3, 3);
}

.header {
  text-align: center;
  padding-top: 25px;
  text-decoration: underline;
}

.noBorder {
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
}

.smallFont {
  font-size: smaller;
}

.teal {
  margin-left: 25px;
  color: #67d8c6;
}

.innerBox {
  padding-left: 30px;
  padding-right: 30px;
}
